.button {
  @apply flex
  px-4 
  py-4
  justify-center
  items-center
  rounded-full
  gap-3
  outline-none
  border-none
  text-white
  cursor-pointer
  text-center
  text-sm
  not-italic
  font-normal;
  min-width: 70px;
  background: var(--dark-blue);
  &.secondary {
    @apply bg-transparent
    border
    border-solid;
    border-color: var(--dark-blue);
    color: var(--dark-blue);
  }
}
