.button {
  display: flex;
  min-width: 70px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: var(--dark-blue);
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.023%; /* 21.003px */

  &.secondary {
    background-color: transparent;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
  }
}
