@tailwind base;
@tailwind components;
@tailwind utilities;
@import '_mixins.css';
@import '_fonts.css';
@import '_variables.css';
@import '_grid-system.css';
@import '_theme.css';

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
}
.container {
  @apply mx-auto;
}
